walk-through-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mask-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.mask-overlay path {
    pointer-events: all;
    fill:#7d7e81cc;
}

.mask-overlay.setup-mode path {
    fill: #091621;
}

hints-box {
    position: absolute;
    top: 20px;
    left: 60%;
    width: 33%;
    display: flex;
    z-index: 10;
    flex-direction: column;
    padding: 1em;
    background: #04a1ef;
    gap: 1em;
    border-radius: calc(1.5vmin + 1em);
    --shadow-color: transparent;
    pointer-events: all;
}

hints-box grid-layout {
    width: 100%;
    height: calc(var(--height) / 4); 
}




/* Instruction Modal Container */
instruction-modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

instruction-modal[shown="true"] {
    pointer-events: all;
    opacity: 1;
}

instruction-modal[shown="false"] {
    pointer-events: none;
    opacity: 0;
}


.modal-container {
    background: linear-gradient(135deg, #00b4d8 0%, #0096c7 100%);
    border-radius: 1.5vmin;
    padding: var(--gap);
    width: calc(var(--width)/ 2.3);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    position: absolute;
    transform: translateY(0);
    transition: transform 0.3s ease;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    gap: 1em;

}

.modal-container grid-layout{
    height: calc(0.25 * var(--height));
}

.modal-container::after:hover {
    opacity: 1;
}
.modal-info{
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 0.5em;

}

.modal-title {
    color: white;
    font-size: 2em;
    font-weight: 700;
    margin: 0;
    text-align: center;
    line-height: 1.2;
}


.step-indicator {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
}


.content-box {
    background: #1a3a52;
    border-radius: 1em;
    padding: 1.5em;
    
}

.modal-content h4 {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
    text-align: center;
    margin-bottom: 0.5em;
}

.modal-content p {
    color: white;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    line-height: 1.6;
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #dc0e0e57;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #000000;
    width: 1.7em;
    height: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    pointer-events: auto;
    border: 2px solid white;
    z-index: 10000;
    border-radius: 2.5em;
    line-height: 1em;

}

.modal-close-btn:hover {
    color: #000;
}