[shadow] {
    --border: 4px;
    --gap: calc(1.25 * var(--border));
    --shadow-color: #bfbfbfc5;
}

.grid-icon {
    --outline: var(--color-danger);

    --icon-color: rgb(245, 244, 244);
    --icon-color-hover: white;

    --text: white;

    --main: rgb(250, 70, 199);
    --tab: rgb(200, 50, 150);

    --main-hover: rgb(220, 66, 184);
    --tab-hover: rgb(169, 22, 120);
    
    --main-active: rgb(180, 54, 150);
    --tab-active: rgb(150, 10, 100);


    --tab-color: var(--tab);
    --main-color: var(--main);
    --outline-color: transparent;

    width: 100%;
    height: 100%;
    position: relative;

	-webkit-user-drag: none;

    cursor: pointer;
    color: var(--text);
}
.grid-icon[i-hidden] {
    opacity: 0;
    pointer-events: none;
}
.grid-icon[i-disabled] {
    opacity: 0.4;
    pointer-events: none;
}
.grid-icon[i-display-only] {
    pointer-events: none;
}
.grid-icon .content {
    position: absolute;
    --b1: calc(var(--border) / 2);
    top: var(--b1);
    left: var(--b1);
    right: var(--b1);
    bottom: var(--b1);
    width: calc(100% - 2 * var(--b1));
    height: calc(100% - 2 * var(--b1));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    gap: 0.3em;

}

.grid-icon .content .symbol {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-icon.image .content .symbol{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-icon.image .content .symbol img{
    max-width: 100%;
    border-radius: 1.5vmin;
}

.grid-icon.image .content .display-value{
    display: none;
}

.symbol .text {
    font-size: 2em;
}

.symbol svg {
    height: 100%;
    max-width: 90%;
}

.symbol img {
    height: 100%;
    max-width: 90%;
    object-fit: contain;
}

.symbol .bg-img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-icon .content .display-value {
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    max-width: 90%;
    word-wrap: break-word;
}

.grid-icon .content .subtitle {
    font-weight: 300;
    text-align: center;
    word-wrap: break-word;
    font-size: 0.85em;
    font-style: italic;
    opacity: 0.9;
    max-width: 90%;
}

.grid-icon .card-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    filter: drop-shadow(2px 2px 4px var(--shadow-color));
}

.grid-icon .card-icon .outline {
    fill: none;
    stroke: var(--outline-color);
}

.grid-icon .card-icon .card {
    fill: var(--main-color);
    transition: fill 0.15s ease-in-out
}

.grid-icon .card-icon .tab {
    fill: var(--tab-color);
    transition: fill 0.15s ease-in-out
}

.grid-icon:not([i-disable-hover])[hover],
.grid-icon:not([i-disable-hover]):hover {
    --tab-color: var(--tab-hover);
    --main-color: var(--main-hover);
    --outline-color: var(--outline);
} 

.grid-icon:not([i-disable-hover]):hover .icon,
.grid-icon:not([i-disable-hover])[hover] .icon {
    --icon-color: var(--icon-color-hover);
}

.grid-icon:not([i-disable-active]):active {
    --tab-color: var(--tab-active);
    --main-color: var(--main-active);
    --outline-color: var(--outline-active, var(--outline));
    transform: scale(0.97);
}

grid-layout {
    display: grid;
    gap: var(--gap);
}

.grid-icon[type="lightRed"], .grid-icon[type="topic-lightRed"] {
    --main: hsl(0, 100%, 89%);
    --tab: hsl(0, 56%, 64%);
    --text: black;
    --main-hover: hsl(0, 95%, 71.2%);
    --tab-hover: hsl(0, 53.199999999999996%, 51.2%);
    --main-active: hsl(0, 100%, 57.85%);
    --tab-active: hsl(0, 58.800000000000004%, 41.6%);
    --outline: hsl(0, 67.2%, 38.4%);
    --icon-color: hsl(0, 100%, 26.7%);
    --icon-color-hover: hsl(0, 100%, 13.35%);
}

.grid-icon[type="darkRed"], .grid-icon[type="topic-darkRed"] {
    --main: hsl(0, 70%, 38%);
    --tab: hsl(0, 56%, 28%);
    --text: white;
    --main-hover: hsl(0, 66.5%, 30.400000000000002%);
    --tab-hover: hsl(0, 53.199999999999996%, 22.400000000000002%);
    --main-active: hsl(0, 73.5%, 24.7%);
    --tab-active: hsl(0, 58.800000000000004%, 18.2%);
    --outline: hsl(0, 67.2%, 16.8%);
    --icon-color: hsl(0, 70%, 11.4%);
    --icon-color-hover: hsl(0, 70%, 5.7%);
}

.grid-icon[type="lightOrange"], .grid-icon[type="topic-lightOrange"] {
    --main: hsl(30, 100%, 85%);
    --tab: hsl(30, 70%, 55%);
    --text: black;
    --main-hover: hsl(30, 95%, 68%);
    --tab-hover: hsl(30, 66.5%, 44%);
    --main-active: hsl(30, 100%, 55.25%);
    --tab-active: hsl(30, 73.5%, 35.75%);
    --outline: hsl(30, 84%, 33%);
    --icon-color: hsl(30, 100%, 25.5%);
    --icon-color-hover: hsl(30, 100%, 12.75%);
}

.grid-icon[type="darkOrange"], .grid-icon[type="topic-darkOrange"] {
    --main: hsl(30, 80%, 45%);
    --tab: hsl(30, 70%, 35%);
    --text: white;
    --main-hover: hsl(30, 76%, 36%);
    --tab-hover: hsl(30, 66.5%, 28%);
    --main-active: hsl(30, 84%, 29.25%);
    --tab-active: hsl(30, 73.5%, 22.75%);
    --outline: hsl(30, 84%, 21%);
    --icon-color: hsl(30, 80%, 13.5%);
    --icon-color-hover: hsl(30, 80%, 6.75%);
}

.grid-icon[type="lightGold"], .grid-icon[type="topic-lightGold"] {
    --main: hsl(42, 100%, 81%);
    --tab: hsl(42, 70%, 55%);
    --text: black;
    --main-hover: hsl(42, 95%, 64.8%);
    --tab-hover: hsl(42, 66.5%, 44%);
    --main-active: hsl(42, 100%, 52.65%);
    --tab-active: hsl(42, 73.5%, 35.75%);
    --outline: hsl(42, 84%, 33%);
    --icon-color: hsl(42, 100%, 24.3%);
    --icon-color-hover: hsl(42, 100%, 12.15%);
}

.grid-icon[type="darkGold"], .grid-icon[type="topic-darkGold"] {
    --main: hsl(42, 75%, 48%);
    --tab: hsl(42, 70%, 38%);
    --text: white;
    --main-hover: hsl(42, 71.25%, 38.400000000000006%);
    --tab-hover: hsl(42, 66.5%, 30.400000000000002%);
    --main-active: hsl(42, 78.75%, 31.200000000000003%);
    --tab-active: hsl(42, 73.5%, 24.7%);
    --outline: hsl(42, 84%, 22.8%);
    --icon-color: hsl(42, 75%, 14.399999999999999%);
    --icon-color-hover: hsl(42, 75%, 7.199999999999999%);
}

.grid-icon[type="lightGreen"], .grid-icon[type="topic-lightGreen"] {
    --main: hsl(108, 100%, 83%);
    --tab: hsl(108, 70%, 62%);
    --text: black;
    --main-hover: hsl(108, 95%, 66.4%);
    --tab-hover: hsl(108, 66.5%, 49.6%);
    --main-active: hsl(108, 100%, 53.95%);
    --tab-active: hsl(108, 73.5%, 40.300000000000004%);
    --outline: hsl(108, 84%, 37.199999999999996%);
    --icon-color: hsl(108, 100%, 24.9%);
    --icon-color-hover: hsl(108, 100%, 12.45%);
}

.grid-icon[type="darkGreen"], .grid-icon[type="topic-darkGreen"] {
    --main: hsl(95, 50%, 40%);
    --tab: hsl(95, 50%, 30%);
    --text: white;
    --main-hover: hsl(95, 47.5%, 32%);
    --tab-hover: hsl(95, 47.5%, 24%);
    --main-active: hsl(95, 52.5%, 26%);
    --tab-active: hsl(95, 52.5%, 19.5%);
    --outline: hsl(95, 60%, 18%);
    --icon-color: hsl(95, 50%, 12%);
    --icon-color-hover: hsl(95, 50%, 6%);
}

.grid-icon[type="lightTeal"], .grid-icon[type="topic-lightTeal"] {
    --main: hsl(150, 100%, 85%);
    --tab: hsl(150, 70%, 55%);
    --text: black;
    --main-hover: hsl(150, 95%, 68%);
    --tab-hover: hsl(150, 66.5%, 44%);
    --main-active: hsl(150, 100%, 55.25%);
    --tab-active: hsl(150, 73.5%, 35.75%);
    --outline: hsl(150, 84%, 33%);
    --icon-color: hsl(150, 100%, 25.5%);
    --icon-color-hover: hsl(150, 100%, 12.75%);
}

.grid-icon[type="darkTeal"], .grid-icon[type="topic-darkTeal"] {
    --main: hsl(150, 90%, 33%);
    --tab: hsl(150, 90%, 23%);
    --text: white;
    --main-hover: hsl(150, 85.5%, 26.400000000000002%);
    --tab-hover: hsl(150, 85.5%, 18.400000000000002%);
    --main-active: hsl(150, 94.5%, 21.45%);
    --tab-active: hsl(150, 94.5%, 14.950000000000001%);
    --outline: hsl(150, 100%, 13.799999999999999%);
    --icon-color: hsl(150, 90%, 9.9%);
    --icon-color-hover: hsl(150, 90%, 4.95%);
}

.grid-icon[type="lightBlue"], .grid-icon[type="topic-lightBlue"] {
    --main: hsl(190, 100%, 85%);
    --tab: hsl(190, 70%, 55%);
    --text: black;
    --main-hover: hsl(190, 95%, 68%);
    --tab-hover: hsl(190, 66.5%, 44%);
    --main-active: hsl(190, 100%, 55.25%);
    --tab-active: hsl(190, 73.5%, 35.75%);
    --outline: hsl(190, 84%, 33%);
    --icon-color: hsl(190, 100%, 25.5%);
    --icon-color-hover: hsl(190, 100%, 12.75%);
}

.grid-icon[type="darkBlue"], .grid-icon[type="topic-darkBlue"] {
    --main: hsl(190, 85%, 33%);
    --tab: hsl(190, 85%, 23%);
    --text: white;
    --main-hover: hsl(190, 80.75%, 26.400000000000002%);
    --tab-hover: hsl(190, 80.75%, 18.400000000000002%);
    --main-active: hsl(190, 89.25%, 21.45%);
    --tab-active: hsl(190, 89.25%, 14.950000000000001%);
    --outline: hsl(190, 100%, 13.799999999999999%);
    --icon-color: hsl(190, 85%, 9.9%);
    --icon-color-hover: hsl(190, 85%, 4.95%);
}

.grid-icon[type="lightIndigo"], .grid-icon[type="topic-lightIndigo"] {
    --main: hsl(220, 100%, 89%);
    --tab: hsl(220, 70%, 55%);
    --text: black;
    --main-hover: hsl(220, 95%, 71.2%);
    --tab-hover: hsl(220, 66.5%, 44%);
    --main-active: hsl(220, 100%, 57.85%);
    --tab-active: hsl(220, 73.5%, 35.75%);
    --outline: hsl(220, 84%, 33%);
    --icon-color: hsl(220, 100%, 26.7%);
    --icon-color-hover: hsl(220, 100%, 13.35%);
}

.grid-icon[type="darkIndigo"], .grid-icon[type="topic-darkIndigo"] {
    --main: hsl(220, 50%, 45%);
    --tab: hsl(220, 50%, 35%);
    --text: white;
    --main-hover: hsl(220, 47.5%, 36%);
    --tab-hover: hsl(220, 47.5%, 28%);
    --main-active: hsl(220, 52.5%, 29.25%);
    --tab-active: hsl(220, 52.5%, 22.75%);
    --outline: hsl(220, 60%, 21%);
    --icon-color: hsl(220, 50%, 13.5%);
    --icon-color-hover: hsl(220, 50%, 6.75%);
}

.grid-icon[type="lightPurple"], .grid-icon[type="topic-lightPurple"] {
    --main: hsl(270, 100%, 91%);
    --tab: hsl(270, 70%, 55%);
    --text: black;
    --main-hover: hsl(270, 95%, 72.8%);
    --tab-hover: hsl(270, 66.5%, 44%);
    --main-active: hsl(270, 100%, 59.15%);
    --tab-active: hsl(270, 73.5%, 35.75%);
    --outline: hsl(270, 84%, 33%);
    --icon-color: hsl(270, 100%, 27.3%);
    --icon-color-hover: hsl(270, 100%, 13.65%);
}

.grid-icon[type="darkPurple"], .grid-icon[type="topic-darkPurple"] {
    --main: hsl(270, 35%, 45%);
    --tab: hsl(270, 35%, 35%);
    --text: white;
    --main-hover: hsl(270, 33.25%, 36%);
    --tab-hover: hsl(270, 33.25%, 28%);
    --main-active: hsl(270, 36.75%, 29.25%);
    --tab-active: hsl(270, 36.75%, 22.75%);
    --outline: hsl(270, 42%, 21%);
    --icon-color: hsl(270, 35%, 13.5%);
    --icon-color-hover: hsl(270, 35%, 6.75%);
}

.grid-icon[type="action"], .grid-icon[type="topic-action"] {
    --main: hsla(11, 100%, 33%, 1.00);
    --main-hover: hsla(11, 100%, 23%, 1.00);
    --main-active: hsla(11, 96%, 18%, 1.00);
    --tab: hsla(11, 100%, 25%, 1.00);
    --tab-hover: hsla(11, 100%, 15%, 1.00);
    --tab-active: hsla(11, 92%, 9%, 1.00);
    --icon-color: hsl(0, 5%, 96%);
    --icon-color-hover: white;
    --text: white;
    --outline: hsl(11, 100%, 15%);
}

.grid-icon[type="white"], .grid-icon[type="topic-white"] {
    --main: hsl(0, 0%, 100%);
    --tab: hsl(0, 0%, 90%);
    --text: black;
    --outline: hsla(0, 1%, 14%, 1.00);
    --main-hover: hsl(0, 0%, 80%);
    --tab-hover: hsl(0, 0%, 72%);
    --main-active: hsl(0, 0%, 65%);
    --tab-active: hsl(0, 0%, 58.5%);
    --icon-color: hsl(0, 0%, 30%);
    --icon-color-hover: hsl(0, 0%, 15%);
}

.grid-icon[type="topic"] {
    --main: hsl(35, 100%, 84%);
    --tab: hsl(35, 63%, 56%);
    --text: black;
    --main-hover: hsl(35, 95%, 67.2%);
    --tab-hover: hsl(35, 59.849999999999994%, 44.800000000000004%);
    --main-active: hsl(35, 100%, 54.6%);
    --tab-active: hsl(35, 66.15%, 36.4%);
    --outline: hsl(35, 75.6%, 33.6%);
    --icon-color: hsl(35, 100%, 25.2%);
    --icon-color-hover: hsl(35, 100%, 12.6%);
}

.grid-icon[type="normal"], .grid-icon[type="topic-normal"] {
    --main: hsl(211, 100%, 83%);
    --tab: hsl(211, 70%, 62%);
    --text: black;
    --main-hover: hsl(211, 95%, 66.4%);
    --tab-hover: hsl(211, 66.5%, 49.6%);
    --main-active: hsl(211, 100%, 53.95%);
    --tab-active: hsl(211, 73.5%, 40.300000000000004%);
    --outline: hsl(211, 84%, 37.199999999999996%);
    --icon-color: hsl(211, 100%, 24.9%);
    --icon-color-hover: hsl(211, 100%, 12.45%);
}

.grid-icon[type="starter"], .grid-icon[type="topic-starter"] {
    --main: hsl(102, 74%, 76%);
    --tab: hsl(102, 70%, 61%);
    --text: black;
    --main-hover: hsl(102, 70.3%, 60.800000000000004%);
    --tab-hover: hsl(102, 66.5%, 48.800000000000004%);
    --main-active: hsl(102, 77.7%, 49.4%);
    --tab-active: hsl(102, 73.5%, 39.65%);
    --outline: hsl(102, 84%, 36.6%);
    --icon-color: hsl(102, 74%, 22.8%);
    --icon-color-hover: hsl(102, 74%, 11.4%);
}

.grid-icon[type="noun"], .grid-icon[type="topic-noun"] {
    --main: hsl(257, 100%, 89%);
    --tab: hsl(257, 56%, 64%);
    --text: black;
    --main-hover: hsl(257, 95%, 71.2%);
    --tab-hover: hsl(257, 53.199999999999996%, 51.2%);
    --main-active: hsl(257, 100%, 57.85%);
    --tab-active: hsl(257, 58.800000000000004%, 41.6%);
    --outline: hsl(257, 67.2%, 38.4%);
    --icon-color: hsl(257, 100%, 26.7%);
    --icon-color-hover: hsl(257, 100%, 13.35%);
}

.grid-icon[type="adjective"], .grid-icon[type="topic-adjective"] {
    --main: hsl(47, 100%, 79%);
    --tab: hsl(47, 57%, 54%);
    --text: black;
    --main-hover: hsl(47, 95%, 63.2%);
    --tab-hover: hsl(47, 54.15%, 43.2%);
    --main-active: hsl(47, 100%, 51.35%);
    --tab-active: hsl(47, 59.85%, 35.1%);
    --outline: hsl(47, 68.39999999999999%, 32.4%);
    --icon-color: hsl(47, 100%, 23.7%);
    --icon-color-hover: hsl(47, 100%, 11.85%);
}

.grid-icon[type="verb"], .grid-icon[type="topic-verb"] {
    --main: hsl(353, 100%, 81%);
    --tab: hsl(353, 68%, 66%);
    --text: black;
    --main-hover: hsl(353, 95%, 64.8%);
    --tab-hover: hsl(353, 64.6%, 52.800000000000004%);
    --main-active: hsl(353, 100%, 52.65%);
    --tab-active: hsl(353, 71.4%, 42.9%);
    --outline: hsl(353, 81.6%, 39.6%);
    --icon-color: hsl(353, 100%, 24.3%);
    --icon-color-hover: hsl(353, 100%, 12.15%);
}

.grid-icon[type="emphasis"], .grid-icon[type="topic-emphasis"] {
    --main: hsl(18, 77%, 50%);
    --tab: hsl(18, 86%, 41%);
    --text: white;
    --icon-color: hsl(0, 5%, 96%);
    --icon-color-hover: white;
    --main-hover: hsl(18, 73.14999999999999%, 40%);
    --tab-hover: hsl(18, 81.7%, 32.800000000000004%);
    --main-active: hsl(18, 80.85000000000001%, 32.5%);
    --tab-active: hsl(18, 90.3%, 26.650000000000002%);
    --outline: hsl(18, 100%, 24.599999999999998%);
}