name: Multi-Branch Deployment
on:
  workflow_run:
    workflows: ["Trigger Build"]
    types:
      - completed

jobs:
  build:
    # Only run if the trigger workflow succeeded
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Fetch all branches without history
        run: git fetch --no-tags --depth=1 origin +refs/heads/*:refs/remotes/origin/*


      - name: Restore cached Public Directory
        id: restore-public-cache
        uses: actions/cache@v4
        with:
          path: public
          key: public-cache-${{ github.run_id }}
          restore-keys: | 
            public-cache-

      - name: Run build script
        run: node .github/build-all.js

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with: 
          path: public

  deploy:
    permissions:
      contents: read
      pages: write
      id-token: write
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to Pages
        id: deployment
        uses: actions/deploy-pages@v4