name: Multi-Branch Deployment
run-name: Multi-Branch Push by ${{ github.actor }}
on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Fetch all branches without history
        run: git fetch --no-tags --depth=1 origin +refs/heads/*:refs/remotes/origin/*

      - name: Extract branch contents to public folder
        run: |
          mkdir public
          cd public
          
          # Loop through all remote branches, ignoring the HEAD pointer
          for branch in $(git branch -r | grep -v '\->' | sed 's/^[[:space:]]*//'); do
            # Remove 'origin/' from the branch name
            branch_name=${branch#origin/}
            
            echo "Extracting branch: $branch_name"
            mkdir -p "$branch_name"
            
            # Archive the branch contents and extract them into the target folder
            git archive "$branch" | tar -x -C "$branch_name"

            cd "$branch_name"
            ls -laR
            # Check if package.json exists before running npm install
            if [ -f "package.json" ]; then
              echo "Installing dependencies for $branch_name"
              npm install
              echo "Building project for $branch_name"
              npm run build
              echo "Build completed for $branch_name removing node_modules and package-lock.json"
              rm -rf node_modules package-lock.json package.json
            else
              echo "No package.json found for $branch_name, skipping npm install and build"
            fi
            cd ..
          done
          cd ..
 
          
      
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with: 
          path: public

  deploy:
    permissions:
      contents: read
      pages: write
      id-token: write
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to Pages
        id: deployment
        uses: actions/deploy-pages@v4

 